#abp01-trip-summary-log-listingTable {
	margin-bottom: 16px;
}

#abp01-tripSummaryLog-formContainer .abp01-form-line {
	margin-left: 0px;
}

.abp01-form-line input[type="text"]#abp01-log-time {
	width: 610px;
}