#abp01-help-contents ul, 
#abp01-help-contents ul li {
    list-style-type: square;
    list-style-position: inside;
}

#abp01-help-contents ul {
    margin-left: 15px;
}

#abp01-help-contents h1 {
    font-size: 23px;
}

#abp01-help-contents h2 {
    font-size: 21px;
}

#abp01-help-contents h3 {
    font-size: 19px;
}