*.gpx
*.cache
build
.vscode/launch.json
.vscode/settings.json
.travis.yml
.phpcs.xml.dist
test-sample.php
test-Sample.php
bin/install-wp-tests.sh
phpunit.xml.dist
data/help/default
data/help/en_US
data/help/ro_RO
data/help/fr_FR
wp-trip-summary.code-workspace
